<?xml version="1.0"?>
<config>
  <modules>
    <Hayward_Roland>
      <version>0.0.3</version>
    </Hayward_Roland>
  </modules>
  <global>
    <helpers>
      <roland>
        <class>Hayward_Roland_Helper</class>
      </roland>
    </helpers>
	<models>
	  <roland>
		<class>Hayward_Roland_Model</class>
		<resourceModel>roland_mysql4</resourceModel>
	  </roland>
	</models>
	<resources>
	  <raptorcategories_setup>
		<setup>
		  <module>Hayward_Roland</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </raptorcategories_setup>
	  <raptorcategories_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </raptorcategories_write>
	  <raptorcategories_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </raptorcategories_read>
	</resources>
  </global>    
    <crontab>
        <jobs>            
			<roland_syncproducts>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>roland/cron::syncProducts</model></run>
            </roland_syncproducts>            
			<roland_synccategories>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>roland/cron::syncCategories</model></run>
            </roland_synccategories>
        </jobs>
    </crontab>
</config> 